#gameContainer {
  text-align: center;
}

#gameBoard {
  border: 3px solid;
}

#scoreText,
#highScoreText {
  font-family: cursive;
  font-size: 30px;
  margin-bottom: 10px;
}

#resetBtn {
  font-family: cursive;
  font-size: 25px;
  width: 100px;
  height: 40px;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
}
